

.navbar{
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    /* border-bottom: 1px solid rgba(255, 255, 255,.4); */
    background-color: rgba(255, 255, 255, 0.034);
    padding-bottom: 0px;
    z-index: 9999;
    transition: opacity 2s linear;
    -webkit-box-shadow: 1px 0px 8px 5px rgba(0,0,0,0.4); 
box-shadow: 1px 0px 8px 5px rgba(0,0,0,0.4);
}
@keyframes mymove {
    0%   {height:0px; opacity: 0;}
    100% {height: 346px;opacity: 1;}
  }
  @keyframes mymove2 {
    0%   {height:346px; opacity: 1;}
    100% {height: 0px;opacity: 0;}
  }
.fade-in{
    transition: mymove 0.5s ease-out;
    animation: mymove 0.5s ease-out;
}
.fade-out{
    transition: mymove 0.5s ease-in;
    animation: mymove2 0.5s ease-in;
}

nav ul li{
    margin-right: 46px;
    line-height: 3;
    
}



nav ul li a{
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 24px;
    color: #fff;
    
}

nav ul .dropdown{
    margin-top: -8px;
    
}

nav ul .dropdown-menu{
    left: 50%;
    transform: translateX(-50%);
    
}

nav ul .dropdown-menu{
    background: rgb(110, 6, 174,1);
    color: #fff;
}

nav ul .dropdown-item{
    color: #fff;
    line-height: 40px;
}

nav ul li a:hover{
    color: #f2d270;
}

nav ul .dropdown-item:hover {
	color: #f2d270;
    background-color: transparent;
    display: block;
}
.logoutbtn{
    background-color: #0d6efd;
    border:1px solid rgb(230, 230, 235);
    padding:2px;
    font-size: 10px;
}
.logoutbtn:hover{
    background-color: rgb(230, 230, 235);
    border:1px solid #0d6efd;

}
@media (min-width: 992px){
.container, .container-lg, .container-md, .container-sm {
    max-width: 100% !important;
}
}
@media (max-width: 992px){
    .regiterbtnfix{
        display: none;
    }
    .registerbtnmargin{
        width:100%;
        margin:5px;
    }
}






